@font-face {
  font-family: "CustomVariableFont";
  src: url("/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-white: #ffffff;
  --clr-brand-light: #7945ff;
  --clr-brand-dark: #5c2dd5;
  --clr-accent-pink: #fd6687;
  --clr-accent-yellow: #ffce67;
  --clr-black: #000000;

  --heading-lg: clamp(3.5rem, 2vw + 1rem, 4.438rem);
  --heading-md: clamp(1.5rem, 2vw + 1rem, 1.938rem);
  --heading-sm: clamp(1.25rem, 2vw + 1rem, 1.625rem);
  --heading-xs: clamp(1rem, 2vw + 1rem, 1.313rem);

  font-family: "CustomVariableFont", sans-serif;
  font-variation-settings: "wght" 400 800;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1,
h2,
h3,
h4,
h5,
p,
ol {
  margin: 0;
  padding: 0;
  color: var(--clr-black);
}

a,
button {
  font: inherit;
}

html {
  background-color: var(--clr-brand-light);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  margin: 0;
  padding: 0;
  font-size: 16px;
  min-width: 100%;
  height: 100vh;
  background-color: var(--clr-brand-light);
  text-transform: uppercase;
}

/* LAYOUT */

.home-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 435px;
}

.home-buttons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.rules-container {
  width: 60vw;
  max-width: 480px !important;
  padding: 3rem 1.2rem;
  border-radius: 0.75rem;
  border: 4px solid var(--clr-black);
  box-shadow: 0 8px 4px var(--clr-black);
  background-color: var(--clr-white);
}

.game-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 335px;
}

/* TYPOGRAPHY */
.rules-heading {
  font-size: var(--heading-lg);
  text-align: center;
}

.rules-subheading {
  padding-block: 1rem;
  font-size: var(--heading-sm);
  color: var(--clr-brand-dark);
}

p .rules-text {
  font-size: var(--heading-sm);
  font-weight: 400;
  color: var(--clr-black);
  padding-block: 0.5rem;
  line-height: 1.5;
}

.rules-list {
  list-style: none;
  counter-reset: list-counter;
  list-style-position: inside;
}

.rules-list li {
  counter-increment: list-counter;
  padding-top: 0.5rem;
}

.rules-list li::before {
  content: counter(list-counter) " ";
  font-weight: 800;
}

/* UTILITY CLASSES */

.yellow {
  background-color: var(--clr-accent-yellow);
}
.pink {
  background-color: var(--clr-accent-pink);
}
.white {
  background-color: var(--clr-white);
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* COMPONENTS */

.home-logo {
  margin-bottom: 3rem;
  width: 52px;
  height: 52px;
}

button {
  position: relative;
  width: 396px;
  border-radius: 0.75rem;
  border: 4px solid var(--clr-black);
  padding: 0.6em;
  text-transform: uppercase;
  color: var(--clr-black);
  font-size: var(--heading-md);
  font-weight: 800;
  box-shadow: 0 8px 4px var(--clr-black);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border: 4px solid var(--clr-brand-dark);
  box-shadow: 0 8px 4px var(--clr-brand-dark);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.mini-button {
  width: 108px;
  padding: 0.2rem 0.6rem;
  background-color: var(--clr-brand-dark);
  font-size: var(--heading-xs);
  color: var(--clr-white);
  border: none;
  border-radius: 100px;
  box-shadow: none;
}
.mini-button:hover {
  background-color: var(--clr-accent-pink);
  border: none;
  box-shadow: none;
}

@media (max-width: 768px) {
  button {
    width: 334px;
  }
  .game-nav {
    width: 635px;
  }
  .rules-container {
    margin-block: 1rem;
    width: 90vw;
    max-width: 335px !important;
  }
}
